body{
    background-color: rgb(255, 255, 255); /* todo cambiar el color del body */
    color: rgb(121, 121, 121);
}

/* Header */

/* style.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .logo {
    margin: 0;
  }
  

/* SearchBar */

.search-bar {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 50px;
    padding: 2px 2px;
    width: 14%;
    height: 16px;

}

.search-icon {
    margin-left: 5px;
    font-size: 14px;
    color: #323232; 
   
}

.search-bar input {
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;

}

.search-bar input::placeholder {
    color: #b3b3b3;
    font-size: 10px;
    opacity: 1;

}